@media screen and (min-width: 1200px) {
    .main-header-logo-link {
            color: var(--maincolor);
            width: 44px;
            font-family: 'Raleway';
            font-size: 18px;
            font-weight: 800;
            line-height: 1.16em;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            margin-right: 70px;
    
    
        }
    .menu-toggle{
        display: none;
    }

    .mobile-nav{
        display: none;
    }
    
        .main-header-logo-link .iris {
            color: var(--iris);
    
        }
    
        .main-header-nav .main-header-menu-list-item-link {
            color: var(--maincolor);
            font-size: inherit;
            line-height: 1.5em;
            letter-spacing: 0.32px;
            font-weight: 500;
            font-weight: 500;
    
        }
    
    
        .main-header-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    
        .address-list {
            padding: 0;
        }
    
        .main-header-menu-list {
            display: flex;
            padding: 0px;
            margin: auto;
            gap: 40px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-left: 76px;
        }

        .header-container,
        .main-header-nav,
        .main-header-menu-list,
        .address-list {
            display: flex;
            align-items: center;
        }

        .header-container {
            border-bottom: 1px solid var(--cornflower);
            padding-top: 24px;
            padding-bottom: 23px;
        
        }
    
        .main-header-nav .main-header-menu-list {
            font-weight: 500;
        }
    
        .address-list {
            gap: 40px;
        }
    
        .headeradd {
            margin: auto;
        }
    
        .main-header-contacts-link {
            color: var(--slate);
            font-size: 16px;
            line-height: 1.5em;
            letter-spacing: 0.02em;
            font-weight: 500;
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
    
        .main-header-menu-list-item-link:hover,
        .main-header-menu-list-item-link:focus {
            color: var(--ocean);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .main-header-menu-list-item-link:hover,
        .main-header-menu-list-item-link:focus {
            color: var(--ocean);
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .main-header-menu-list-item-link:hover::after {
            content: '';
            display: block;
            height: 4px;
            background-color: var(--ocean);
            position: absolute;
            left: 0;
            width: 100%;
            margin-top: 10px;
            border: 2px solid var(--ocean);
            border-radius: 4px;
            transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
        .main-header-menu-list-item-link {
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
    
    
        .hero {
            width: 1158px;
            padding: 0px 15px;
            background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('./../images/herobg.jpg');
            margin-left: auto;
            margin-right: auto;
    
        }
    
        .container {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        /* Main hero section */
        .hero {
    
            margin: 0 auto;
            background-color: var(--bgnavyblue);
            background-image: linear-gradient(rgba(45, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/herosection1.jpg");
            max-width: 1440px;
            background-size: cover;
            background-position: center;
            justify-content: center;
            background-repeat: no-repeat;
            padding-top: 188px;
            padding-bottom: 188px;
    
    
    
        }
    
        .hero-title {
            margin: 0px;
            display: block;
            width: 496px;
            color: var(--colorwhite);
            text-align: center;
            font-size: 56px;
            line-height: 1.07em;
            font-weight: 700;
            gap: 10px;
            letter-spacing: 1.12px;
            margin: 0px 331px 48px 331px;
    
        }
    
        .hero .hero-cta {
            display: block;
            align-items: center;
            font-family: inherit;
            width: 169px;
            padding: 16px 32px;
            gap: 10px;
            border-radius: 4px;
            background: var(--iris);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin: 0px 495px 0px 496px;
            /* button text */
            color: var(--cloud);
            font-size: 16px;
            line-height: 1.5em;
            font-weight: 500;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .hero .hero-cta:active,
        .hero .hero-cta:hover {
            border-radius: 4px;
            background-color: var(--ocean);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.88), 0px 2px 2px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            transition: var(--transition-duration);
            color: var(--colorwhite);
        }
    
        .hero .hero-cta:focus {
            background-color: var(--ocean);
            color: var(--colorwhite);
        }
    
    
    
        .feature-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
        }
    
        .feature-list .feature-list-item {
            flex-basis: calc((100%-72px)/3);
        }
    
        .feature-list .feature-list-item-icon {
            align-items: center;
            justify-content: center;
            width: 264px;
            height: 112px;
            background-color: var(--cloud);
            padding-top: 24px;
            padding-bottom: 24px;
            margin-bottom: 8px;   
        }
    
        .feature-list-item-title {
            width: 264px;
            margin-bottom: 8px;
        }
    
        .feature-list-item-description {
            width: 264px;    
        }  
    
        .what-are-we-doing .container {
            padding-top: 0px;
        }
    
        .what-are-we-doing-title {
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11em;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;
        }
    
        .what-are-we-doing-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;    
        }
    
        .what-are-we-doing-list .what-are-we-doing-list-item {
            border: 1px solid var(--cornflower);
            background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
            flex-basis: calc((100%-48px)/2);
            box-shadow: 1px 0px 10px 1px lightgray;
        }
    
        .our-team {    
            background: var(--cloud);
            padding-bottom: 0px;   
        }
    
        .our-team-title {
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11em;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;    
        }
    
        .our-team-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
    
        }
    
        .our-team-list .our-team-list-item {
            border-radius: 0px 0px 4px 4px;
            background: var(--WHITE, #FFF);
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
        }
    
        .our-team-list .our-team-list-item {
            flex-basis: calc((100%-72px)/3);
        }
    
        .our-team-list-item-details {
            background-color: var(--primarybg);
            padding: 32px 16px;
            /* border-top: 0;
        border: 1px solid #eeee; */
            text-align: center;
        }
    
        .our-team-list-item-title {
            margin-bottom: 8px;
        }
    
        .team-socmed-list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 24px;
            padding: 0;
    
        }
    
        .team-socmed-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--iris);
            border-radius: 20px;
            margin-top: 8px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
        .team-socmed-list:active,
        .team-socmed-list:hover {
    
            background-color: var(--ocean);
            cursor: pointer;
            transition: var(--transition-duration);
        }
    
        .team-socmed-list:focus {
            background-color: var(--ocean);
    
        }
    
        .customer-title {
            color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-family: inherit;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;
        }
    
        .customers-lists {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
    
        }   
    
        .customer-list-item-icon {
            width: 168px;
            height: 88px;
            justify-content: center;
            align-items: center;
            fill: var(--lightslate);
            border: 1px solid var(--lightslate, #8e8f99);
            border-radius: 4px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        }
    
        .customers-list-item .customer-list-item-link:focus,
        .customers-list-item .customer-list-item-link:hover {
            border: 1px solid var(--ocean);
            fill: var(--ocean);
            cursor: pointer;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    
        .footer { 
            background: var(--bgnavyblue);
            padding-top: 120px;
            padding-bottom: 120px;
            width: 100%;   
        }
    
        .footer-logo-link {
            width: 44px;
            color: var(--iris);
            font-family: Raleway;
            font-size: 18px;
            font-weight: 800;
            line-height: 1.17em;
            letter-spacing: 0.54px;
            text-transform: uppercase;
    
        }
    
        .footer .footer-logo-link {
            color: var(--colorwhite);
            width: 71px;
            font-family: 'Raleway';
            font-size: 18px;
            font-weight: 800;
            line-height: 1.17em;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            padding-right: 76px;
            display: flex;
            height: 21px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    
        }
        .foot-container{
            display: flex;
            flex-wrap: wrap;          
        }

        .footer-details-container {
        display: flex;
        align-items: center;
        }

        .footer {
        width: 264px;
        margin-right: 60px;    
        }
        .footer-logo-link{
        margin-right: 120px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
        .footer-description {
            color: var(--cloud);
            width: 264px;
            margin-top: 16px;
        }

    
        .footer-socmed-title {
            color: var(--WHITE, #FFF);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
        }
    
        .footer-subscription-text {
            color: var(--colorwhite);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
            margin-bottom: 16px;
        }
    
        .footer-subscription-button {
            display: inline-flex;
            padding: 8px 24px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            border-radius: 4px;
            background: var(--IRIS, #4D5AE5);
            color: var(--WHITE, #FFF);
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
            cursor: pointer;
            transition-property: background-color, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .footer-subscription-icon {
            width: 24px;
            height: 24px;
    
        }
    
        .footer-subscription-text:hover {
            background-color: var(--ocean);
        }
    
        input .footer-subscription-input {
            width: 264px;
            height: 40px;
            flex-shrink: 0;
            background: var(--NAVY-BLUE, #2E2F42);
            border-radius: 4px;
            border: 1px solid var(--WHITE, #FFF);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            padding: 8px 16px;
            color: var(--WHITE, #FFF);
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.48px;    
        }
    
        .footer-subscription-input::placeholder {
            color: var(--white, #FFF);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.48px;
        }
    
        .footer-form-container {
            display: flex;
            /* gap: 24px; */

        }
    
        .footer-socmed-list-item {
            display: flex;
            gap: 20px;
            padding: 0;
        }
    
    
        .footer-socmed-list-item {
            display: inline-flex;
            gap: 16px;
    
        }
    
        .footer-socmed-list-item {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .footer-socmed-list-item {
            margin-top: 16px;
        }
}